<h3>Step 2</h3>
<form (submit)="$event.preventDefault()" (ngSubmit)="onAddressSubmit()"> 

<section> 
  <mat-label>Country</mat-label>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select (selectionChange)="showProvince($event)">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section> 
<section> 
  <mat-label>Province</mat-label>
  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select>
      <mat-option *ngFor="let province of provinces" [value]="province">
        {{province.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</section> 

<section class="centered">        
  <button mat-flat-button>Save</button>
</section>

</form>